@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Segoe UI';
}

.clash{
  font-family: 'Clash Display' !important;
}

.inputs:-webkit-autofill,
.inputs:-webkit-autofill:hover,
.inputs:-webkit-autofill:focus,
.inputs:-webkit-autofill:active {
  background: #fff;
  outline: none;
}

input{
  /* border: none; */
  outline: none
}

input:hover{
  /* border: none; */
  outline: none;
}

input:focus{
  /* border: none; */
  outline: none;
}

input:disabled{
  @apply bg-disabledInputBg
}

.container {
  @apply w-[90%] mx-auto
}

.l-container {
  @apply w-[90%] mx-auto max-w-[1200px]
}

.signup-container {
  @apply w-full mx-auto max-w-[880px]
}

.dash-container {
  @apply w-[94%] max-2xl:mx-auto max-w-[1400px] 2xl:ml-20
}

.input-wrap {
  @apply w-full flex flex-col items-start gap-2 relative 
}

.labels {
  @apply text-links font-[400] text-textBody
}

.input {
  @apply text-xs 2xl:text-sm rounded w-full border z-0 border-defaultInputBorder bg-none py-2 px-4 focus:border focus:border-selectedInputBorder invalid:border invalid:border-errorInputBorder autofill:bg-none
}

.password-input {
  @apply w-full relative
}

.button-outline{
  @apply transition duration-200 border-[2px] py-[8px] px-[26px] rounded-full
}

.button-filled{
  @apply transition duration-200 rounded-md w-full flex items-center justify-center py-2 gap-2
}

.appShadow{
  @apply shadow-shadow 
}

.shadApp{
  box-shadow: 0px 12px 24px rgb(167, 209, 211, 0.24);
  transition: .2s ease-in-out
}

.shadApp:hover{
  box-shadow: 0px 12px 24px rgb(167, 209, 211, 0.5);
}

.shadApp:active{
  box-shadow: 0px 12px 24px rgb(167, 209, 211, 0.25);
}


/* .head-1{
  @apply 
} */

.lh-130{
  line-height: 130%;
}
.lh-140{
  line-height: 140%;
}
.lh-150{
  line-height: 150%;
}

.slim-scroll {
  overflow-y: scroll;
}

.slim-scroll::-webkit-scrollbar {
  width: 2px;
  display: none;
}

.slim-scroll::-webkit-scrollbar-thumb {
  background: #00692B;
}

.asda{
  color: #1eb555
}

.card-open {
  width: 30%;
  max-width: 600px;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  animation: dropIn .5s ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-close {
  width: 30%;
  max-width: 600px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  animation: dropIn .5s ease-in-out;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-bg-open {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 99999999999 !important;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn .5s ease-in-out
}

.modal-bg-close {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}

.grid-item {
  text-align: center;
  grid-column: span 2
}

.grid-item:nth-child(5) {
  grid-column: 2 / span 2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes dropIn {
  from {
    top: 0%
  }

  to {
    top: 50%
  }
}

.infoDropIn {
  animation: infoDropIn .3s ease-in-out;
  top: 20px
}

@keyframes infoDropIn {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}

.line-grow {
  width: 100%;
  animation: lineGrow 3s ease-in-out;
}


@keyframes lineGrow {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.igbg {
  background: url(../assets/icons/igButton.svg);
}